@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: $bg-grey;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}
.container {
  width: 550px;
  margin: 0 auto;
  background-color: $white;
  overflow-y: hidden;
}
.card__section {
  display: flex;
  padding-bottom: 30px;
}
