$main-color: #2b283a;
$link-color: #918e9b;
$nav-color: #f55a5a;
$white: #fff;
$border-color: #f5f5f5;

$f-weight-sm: 400;
$f-weight-md: 500;
$f-weight-lg: 700;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
